{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="{% url 'home' %}">HOME</a>
<a href="{% url 'services' %}">SERVICES</a>
<a href="{% url 'about' %}">ABOUT</a>
<a href="{% url 'blogs' %}">BLOGS</a>
<a href={% url 'contact' %}>CONTACT US</a>
<h2>Welcome to django</h2>
<img src="{% static 'images/absolute-image.PNG' %}" alt="">
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ex iure molestias!
    Cumque doloribus eos libero quasi veniam. Eum expedita hic inventore iusto libero minus non
    optio recusandae reprehenderit rerum.</span><span>Alias aliquid animi aperiam at consectetur cum dolor
    dolore doloribus, ducimus enim inventore ipsa itaque modi mollitia nam natus, nostrum porro quas quisquam quod
    quos sequi temporibus unde, voluptatibus voluptatum.</span><span>Aut eius fugit inventore minima non numquam
    praesentium. Alias magnam maiores natus obcaecati qui. Aperiam distinctio dolorem in incidunt mollitia nisi
    nobis non soluta, tempora. Assumenda ea ipsam obcaecati quidem!</span><span>Aspernatur at cupiditate
    eligendi, maiores natus nobis qui. Assumenda culpa dolor, dolore eligendi eos esse laudantium maxime odio porro
    quae quam quidem sint sunt unde vero! Itaque mollitia quasi vero?</span><span>Adipisci autem beatae ea eligendi
    harum nesciunt nihil perferendis quo veritatis voluptatem. Adipisci atque blanditiis consequatur debitis dolor
    dolores
    doloribus ea esse, illo modi obcaecati porro quibusdam quidem repellat rerum?</span></p>
</body>
</html>